* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  background: #ffe6f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 25px;
  border-radius: 15px;
  text-align: center;
  width: 90%;
  max-width: 350px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
  color: #ff4d88;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
}

.btn {
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
}

.yes, .no {
  padding: 10px 25px;
  border-radius: 25px;
  font-size: 18px;
  transition: 0.3s;
}

.yes {
  background: #ff4d88;
  color: white;
}

.no {
  background: #ddd;
  color: black;
}

.yes:hover {
  transform: scale(1.1);
}